* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
body{
  background-image:url("/bg.jpg");
  display: flex;
  align-items:center;
  justify-content: center;
  height:100vh;
  color:white;
}
.container{
  width: 90vw;
  height: 90vh;
  background-color:rgba(49, 50, 63, 0.735) ;
  border-radius: 12px;
  backdrop-filter: blur(19px) saturate(180%);
  display:flex;
  
}